trigger:
- main

pool:
  name: Default

jobs:
- job: Build
  steps:
    - task: Maven@4
      displayName: 'Maven@4: clean package'
      inputs:
        mavenPOMFile: 'pom.xml'
        goals: 'clean package'
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'

    - task: PublishBuildArtifacts@1
      displayName: 'Publish JAR artifact'
      inputs:
        PathtoPublish: 'target/*.jar'
        ArtifactName: 'my-app-jar'
        publishLocation: 'Container'
